/*
 * Created Date: Friday, 5th February 2021, 2:50:43 am
 * Author: Kingsley Chimezie
 */


body {
    background-color: #ddd;
    text-align: center;
    margin: 0;
    padding: 25px;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
    
    #mainContainer {
        padding: 10px;
        #loaderHeart {
            margin-top: 100px;
        }

        #header {
            margin-top: 25px;
            margin-bottom: 25px;
        }
        
        #bee {
            margin-top: 80px;
            margin-bottom: 20px;
        }

        #btnsGroup {
            #btnChangeAnswer {
                margin-top: -25px;
            }
        }
        
        #credit {
            margin-top: 75px;
            a {
                text-decoration: none;
                color: #0e4b4b;
            }
            #heart {
                display: inline-block;
            }
        }
    }
}



/* RESPONSIVE
  ------------------------------------------------------ */
@media only screen and (min-width: 1920px) {
    #mainContainer {
        #resultGroup {
            #result {
                #resultImg {
                    width: 18%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1920px) {
    #mainContainer {
        #resultGroup {
            #result {
                #resultImg {
                    width: 400px;
                }
            }
        }
    }
}

@media only screen and (max-width: 468px) {
    #mainContainer {
        #resultGroup {
            #result {
                #resultHeader {
                    margin-top: none;
                }
                #resultImg {
                    width: 100%;
                }
            }
        }
    }

}